<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CEPLAN</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
</head>
<body class="d-flex flex-column min-vh-100">
    
    <header class="header-ceplan">
        <i class="fa-solid fa-question text-white fs-4" title="Ayuda"></i>
    </header>

    <main role="main" class="flex-grow-1 d-flex justify-content-center align-items-center">
        @RenderBody()
    </main>

    <footer class="footer-ceplan">
        <img src="~/images/logos-footer.png" alt="Logos Institucionales" class="footer-logos" />
    </footer>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>