@{
    ViewData["Title"] = "Bienvenido";
    ViewData["BodyClass"] = "bg-welcome";
}

<div class="welcome-card animated fadeIn">
    <img src="~/images/welcome-rocket.png" alt="Icono" class="rocket-icon" />
    
    <h4>¡Bienvenida, July!</h4>
    
    <div class="mb-4">
        <p>Su cuenta en el aplicativo X está activada.</p>
        <p>Ya puede iniciar sesión.</p>
    </div>
    
    <a asp-action="Login" class="btn btn-ceplan w-100 py-3 mt-2 shadow-sm">
        Iniciar sesión
    </a>
</div>